@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#fff;
  color:#0F172A;
}

a{
  text-decoration:none;
}

ul{
  list-style:none;
}

img{
  max-width:100%;
  display:block;
}

section{
  padding:100px 0;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}